<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../details.css">
    <title>Movie Magic – <%= movie.title %></title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <img src="https://image.tmdb.org/t/p/original<%= movie.backdrop_path %>" alt="">
        <h1>
            <%= movie.title %>
        </h1>
        <p>
            <%= movie.release_date %>
        </p>
        <ul>
            <% movie.genres.forEach(element => {
            %><li>
                    <%= element.name %>
                </li> <%
            }) %> 
        </ul>
        <p>
            <% if (movie.overview != null) { %>
                <%= movie.overview %>
            <% } else { %>
                (No plot summary available.)
            <% } %>
        </p>
    </main>
</body>
</html>