<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../index.css">
    <link rel="stylesheet" href="../../partials.css">
    <title>Movie Magic</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <% movies.results.forEach(movie => { %>
            <div class="movie">
                <a href="/details/<%= movie.id %>">
                    <img src="https://image.tmdb.org/t/p/w300<%= movie.poster_path %>" alt="<%= movie.title %>">
                    <p>
                        <%= movie.title %>
                    </p>
                </a>
            </div>
        <% }) %>
    </main>
    <%- include('../partials/footer', {totalPages: movies.total_pages}) %>
</body>

</html>