<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link rel="stylesheet" href="/partials.css" type="text/css">
    <title>Movie Magic</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <section id="genres">
                <ul>
                    <% genreList.forEach(genre=> { %>
                        <a href="/genre/<%- genre.id %>/page/1">
                            <li <% if (genreChosen) { if (genreID==genre.id) {%> class="active-genre-li" <% }}%>>
                                    <%= genre.name %>
                            </li>
                        </a>
                        <% }) %>
                </ul>
            </section>
            <section id="movies">
                <% movies.results.forEach(movie=> { %>
                    <div class="movie">
                        <a href="/details/<%= movie.id %>">
                            <% if (movie.poster_path !=null) {%>
                                <img src="https://image.tmdb.org/t/p/w300<%= movie.poster_path %>"
                                    alt="<%= movie.title %>">
                                <%} else {%>
                                    <img src="/empty-cinema.jpg" alt="<%= movie.title %>">
                                    <% } %>
                                        <p>
                                            <%= movie.title %>
                                        </p>
                        </a>
                    </div>
                    <% }) %>
            </section>
        </main>
        <%- include('../partials/footer', {totalPages: movies.total_pages}) %>
</body>

</html>